In [1]:
import pandas as pd

file = "Resources/election_data.csv"
df_original = pd.read_csv(file)

In [2]:
df_original.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
Candidates = df_original["Candidate"].unique()
Candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [4]:
Total_Votes = df_original["Candidate"].count()
Total_Votes

3521001

In [5]:
Number_Votes = df_original["Candidate"].value_counts()
Number_Votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [6]:
Winner_Vote_Total = max(Number_Votes)
Winner_Vote_Total = str(Winner_Vote_Total)
Winner_Vote_Total

'2218231'

In [7]:
Khan_df = df_original.loc[df_original["Candidate"] == "Khan", :]
Khan_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
7  14003692  Marsh      Khan

In [8]:
Khan_Votes = Khan_df["Candidate"].count()
Khan_Votes_Total = str(Khan_Votes)
Khan_Votes_Total

'2218231'

In [ ]:
Khan_Percent = Khan_Votes / Total_Votes
Khan_Percent = format(Khan_Percent, "5.2%")
Khan_Percent

In [ ]:
Correy_df = df_original.loc[df_original["Candidate"] == "Correy", :]
Correy_df.head()

In [ ]:
Correy_Votes = Correy_df["Candidate"].count()
Correy_Votes_Total = str(Correy_Votes)
Correy_Votes_Total

In [ ]:
Correy_Percent = Correy_Votes / Total_Votes
Correy_Percent = format(Correy_Percent, "5.2%")
Correy_Percent

In [ ]:
Li_df = df_original.loc[df_original["Candidate"] == "Li", :]
Li_df.head()

In [ ]:
Li_Votes = Li_df["Candidate"].count()
Li_Votes_Total = str(Li_Votes)
Li_Votes_Total

In [ ]:
Li_Percent = Li_Votes / Total_Votes
Li_Percent = format(Li_Percent, "5.2%")
Li_Percent

In [ ]:
OTooley_df = df_original.loc[df_original["Candidate"] == "O'Tooley", :]
OTooley_df.head()

In [ ]:
OTooley_Votes = OTooley_df["Candidate"].count()
OTooley_Votes_Total = str(OTooley_Votes)
OTooley_Votes_Total

In [ ]:
OTooley_Percent = OTooley_Votes / Total_Votes
OTooley_Percent = format(OTooley_Percent, "5.2%")
OTooley_Percent

In [ ]:
CalcWinner = pd.DataFrame({
    "Candidate": ["Khan", "Correy", "Li", "O'Tooley"],
    "Total Votes": [Khan_Votes_Total, Correy_Votes_Total, Li_Votes_Total, OTooley_Votes_Total]
})
CalcWinner

In [ ]:
loc_Winner = CalcWinner.loc[CalcWinner["Total Votes"] == Winner_Vote_Total]
loc_Winner

In [ ]:
Winner = CalcWinner.iloc[0, 0]
Winner

In [ ]:
df_new = pd.DataFrame({
    "Election Results": ["Election Data"],
    "Total Votes": [Total_Votes],
    "Khan": [(Khan_Percent + " " + Khan_Votes_Total)],
    "Correy": [(Correy_Percent + " " + Correy_Votes_Total)],
    "Li": [(Li_Percent + " " + Li_Votes_Total)],
    "O'Tooley": [(OTooley_Percent + " " + OTooley_Votes_Total)],
    "Winner": [Winner]
    
})
df_new

In [ ]:
df = df_new.set_index("Election Results")
df

In [ ]:
# Save output to Excel
df.to_excel("output/Election_Analysis.xlsx")