In [62]:
import pandas as pd

file = "Resources/budget_data.csv"
df_original = pd.read_csv(file)

In [63]:
df_original.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [64]:
df_original.count()

Date             86
Profit/Losses    86
dtype: int64

In [65]:
Months = df_original["Date"].count()
Total_Months = str(Months)
Total_Months

'86'

In [97]:
ProfitLosses_Total = df_original["Profit/Losses"].sum()
Net_Total = str(ProfitLosses_Total)
Net_Total

'38382578'

In [98]:
rofitLosses_mean = df_original["Profit/Losses"].mean()
Average_Change = str(format(ProfitLosses_mean,'9.2f'))
Average_Change

'446309.05'

In [99]:
ProfitLosses_max = df_original["Profit/Losses"].max()
Greatest_Increase = str(ProfitLosses_max)
Greatest_Increase

'1170593'

In [100]:
loc_Greatest_Increase = df_original.loc[df_original["Profit/Losses"] == ProfitLosses_max]
loc_Greatest_Increase

        Date  Profit/Losses
25  Feb-2012        1170593

In [101]:
Greatest_Increase_Date = df_original.iloc[25, 0]
Greatest_Increase_Date

'Feb-2012'

In [106]:
ProfitLosses_min = df_original["Profit/Losses"].min()
Greatest_Decrease = str(ProfitLosses_min)
Greatest_Decrease

'-1196225'

In [107]:
loc_Greatest_Decrease = df_original.loc[df_original["Profit/Losses"] == ProfitLosses_min]
loc_Greatest_Decrease

        Date  Profit/Losses
44  Sep-2013       -1196225

In [108]:
Greatest_Decrease_Date = df_original.iloc[44, 0]
Greatest_Decrease_Date

'Sep-2013'

In [109]:
df_new = pd.DataFrame({
    "Financial Analysis": ["2010-2017"],
    "Total Months": [Total_Months],
    "Net Total": [("$" + Net_Total)],
    "Average Change": [("$" + Average_Change)],
    "Greatest Increase in Profits": [(Greatest_Increase_Date + " $" + Greatest_Increase)],
    "Greatest Decrease in Profits": [(Greatest_Decrease_Date + " $" + Greatest_Decrease)]
    
})
df_new

,Financial Analysis,Total Months,Net Total,Average Change,Greatest Increase in Profits,Greatest Decrease in Profits
0,2010-2017,86,$38382578,$446309.05,Feb-2012 $1170593,Sep-2013 $-1196225

In [110]:
df = df_new.set_index("Financial Analysis")
df

,Total Months,Net Total,Average Change,Greatest Increase in Profits,Greatest Decrease in Profits
Financial Analysis,,,,,
2010-2017,86,$38382578,$446309.05,Feb-2012 $1170593,Sep-2013 $-1196225

In [111]:
print(df)

                   Total Months  Net Total Average Change  \
Financial Analysis
2010-2017                    86  $38382578     $446309.05

                   Greatest Increase in Profits Greatest Decrease in Profits
Financial Analysis
2010-2017                     Feb-2012 $1170593           Sep-2013 $-1196225

In [112]:
# Save output to Excel
df.to_excel("output/Financial_Analysis.xlsx")